<CENTER><B>～本日の夕食～</B><BR>
<%= Time.now.strftime("%m/%d (%a)") %><BR>
<%= h @meal.name %><BR>
<BR>
<TABLE cellpadding="3" cellspacing="2" bgcolor="#ff8000">
  <TBODY>
    <TR>
      <TD bgcolor="#ffffff"><FONT color="#ff0000"><%= h @message %></FONT><BR>
      ⇒ <%= sell_apply_link(@user.id, @meal.id) %>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
</CENTER>
<HR>
<P>
■<%= link_to "翌日以降の緊急欠食申請", :controller => "top", :action => "view_list", :keycode => @user.keycode %><BR>
■<%= link_to "通常欠食申請", :controller => "top", :action => "menu", :keycode => @user.keycode %><BR>
■<%= link_to "嫌いなメニューを設定", :controller => "unlikes", :action => "edit", :keycode => @user.keycode %></P>
<HR>
<CENTER>【過去の緊急欠食】<BR>
<TABLE cellpadding="3" cellspacing="2" bgcolor="#008000">
  <TBODY>
    <TR>
      <TD bgcolor="#ffffff">
        <% if @meal_statuses.empty? %>
          なし
        <% end %>
        <% @meal_statuses.each do |ms| %>
          <%= trade_status(ms) %><BR>
        <% end %>
      </TD>
    </TR>
  </TBODY>
</TABLE>
</CENTER>

