<CENTER>■ 通常欠食申請 ■<BR>
<BR>

<% form_tag({ :action => "apply"} ) do  -%>
<TABLE cellpadding="3" cellspacing="2" bgcolor="#ff8000">
  <tr>
      <TH bgcolor="#ffcc66">日付</TH>
      <TH bgcolor="#ffcc66">メニュー</TH>
      <TH bgcolor="#ffcc66">欠食チェック</TH>
    </tr>
  <% @meals.each_with_index do |meal, i| -%>
  <% @meal = meal -%>
  <%= hidden_field_tag("keycode", @user.keycode) %>
  <%= hidden_field_tag("page", params[:page]) %>
  
  <tr>
    <td bgcolor="#ffffff"><%= meal.date.strftime("%m/%d (%a)") %></td>
    <td bgcolor="#ffffff"><%= meal.name %></td>
    <td bgcolor="#ffffff"> <%= hidden_field_tag "meals[#{meal.id}]", "no"  %>
                           <%= check_box_tag "meals[#{meal.id}]", "yes", MealStatus.find_by_user_id_and_meal_id(@user.id, meal.id) ? true : false %> </td>
  </tr>	
  <% end -%>
</TABLE>
<%= submit_tag "申請" %>
<br>
<input name="reset" value="リセット" type="reset" />
<% end -%>
<BR>
<BR>
<%= will_paginate(@meals) %>
</CENTER>
<HR>

<P align="center"><%= link_to("戻る", :controller => "top", :action => "index", :keycode => @user.keycode) %></P>
