<h1>Listing unlikes</h1>

<table>
  <tr>
    <th>Keyword</th>
    <th>User</th>
  </tr>

<% @unlikes.each do |unlike| %>
  <tr>
    <td><%=h unlike.keyword %></td>
    <td><%=h unlike.user_id %></td>
    <td><%= link_to 'Show', unlike %></td>
    <td><%= link_to 'Edit', edit_unlike_path(unlike) %></td>
    <td><%= link_to 'Destroy', unlike, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New unlike', new_unlike_path %>