<h1>食事リスト</h1>

<form method="post" action="/admin/meals/update">
<table>
<% @meals.each_with_index do |meal, i| %>
  <tr>
    <td><%= meal.date %></td>
    <td><input name="d<%= i %>" type="text" size="50" value="<%= meal.name %>" /></td>
  </tr>
<% end %>
</table>
<input type="submit" value="更新" />
<table>
  <tr>
    <td><%= @prevWeek %></td>
    <td><%= @nextWeek %></td>
  </tr>
</table>

<input type="hidden" name="week" value=<%= @week %> />

</form>

<br />